@import "app-component";
@import "upload";
@import "manage-component";
// 主题色
$primary-color: #409EFF;
$success-color: #67C23A;
$warning-color: #E6A23C;
$danger-color: #F56C6C;

// dialog样式
.el-dialog {
    transition: width 0.3s;

    .el-dialog__body {
        padding: 10px 20px;
    }

    .el-form {
        .el-select, .el-cascader {
            width: 100%;
        }
    }
}

// 滚动条样式
.scrollbar {
    height: 100%;

    .el-scrollbar__wrap {
        overflow-x: hidden;
    }
}

// cascader样式
.el-cascader-panel {
    .el-cascader-menu {
        min-width: 120px;
    }
}
